.App {
  text-align: center;
  color: #EBEBEB;
  background-color: #2F3437;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;

}
.card{
  margin: auto  ;
}
